#!/usr/bin/env bash
set -ue

# Run this as sudo!
if [ $(id -u) != 0 ]; then
    echo "need to switch to root to install necessary packages"
    sudo "$0" "$@"
    exit $?
fi

echo "running first-time setup of klamann's dotfiles for" \
     "{{ .chezmoi.username }}@{{ .chezmoi.hostname }} on {{ .chezmoi.osRelease.name }}"

# define package manager and packages
packages=(
    curl
    git
    nano
    zsh
)

# find the right package manager for the current system
if [ -x "$(command -v apt-get)" ]; then
    # apt: Debian, Ubuntu, ...
    update='apt-get update'
    install='apt-get install -y'
    packages+=(htop passwd tldr)
elif [ -x "$(command -v apk)" ]; then
    # apk: Alpine
    update='apk update'
    install='apk add'
    packages+=(htop shadow which)
elif [ -x "$(command -v pacman)" ]; then
    # pacman: Arch
    update='pacman -Sy'
    install='pacman -S --noconfirm'
    packages+=(htop util-linux tldr which)
elif [ -x "$(command -v dnf)" ]; then
    # dnf: Fedora, CentOS, Amazon, ...
    update='dnf check-update'
    install='dnf -y install'
    {{ if (eq (trimAll "\"" .chezmoi.osRelease.id) "centos") -}}
    packages+=(util-linux-user which)
    {{ else -}}
    packages+=(htop util-linux-user tldr which)
    {{ end }}
elif [ -x "$(command -v yum)" ]; then
    # yum: mostly the same as dnf
    update='yum check-update'
    install='yum -y install'
    packages+=(htop util-linux-user tldr which)
else
    # more to add eventually: zypper, portage, nix, homebrew
    echo "unexpected distribution {{ .chezmoi.osRelease.id }}, cannot install packages"
    exit 1
fi

# install packages
echo "updating package index and installing packages ${packages[@]}"
{{ if (eq (trimAll "\"" .chezmoi.osRelease.id) "centos") -}}
$install glibc-langpack-en || true
{{ end }}
$update || true
$install "${packages[@]}"

# switch to zsh
echo "setting zsh as login shell for {{ .chezmoi.username }}"
chsh {{ .chezmoi.username }} -s $(which zsh)
